body{
  font-family: Verdana, Arial, sans-serif;
  background-image: url(bakgrund.png);
  background-color: #61BCED;

}

h1, h2, h3 {
  font-family: "Montserrat", Verdana, Arial, sans-serif;
}

article, aside, footer, nav {
border-radius: 15px;
padding: 1%;
}

nav a {
  border-radius: 15px;
  background-color: purple;
}
